*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.idea/compiler.xml
.idea/copyright/
.idea/dictionaries/
.idea/gradle.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
app/libs/
app/release/
app/src/main/res/drawable-hdpi/
app/src/main/res/mipmap-hdpi/
app/src/main/res/mipmap-mdpi/
app/src/main/res/mipmap-xxhdpi/
app/src/main/res/mipmap-xxxhdpi/
audiorecordbutton/libs/
commonlibrary/libs/
commonlibrary/src/main/res/drawable/
emojilibrary/libs/
emojilibrary/src/main/res/drawable/
ez_chat_keystore.jks
photoselector/libs/
photoselector/src/main/res/anim/
swipeback/libs/
timeselectview/libs/
timeselectview/src/main/res/drawable/
libs/
release/
src/main/res/drawable-hdpi/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xxhdpi/
src/main/res/mipmap-xxxhdpi/
