<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ezreal.ezchat">

    <!-- 权限声明 -->
    <!-- 访问网络状态-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 控制呼吸灯，振动器等，用于新消息提醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!--定位相关-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- 如果需要实时音视频通话模块，下面的权限也是必须的。否则，可以不加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!-- SDK 权限申明, 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <!-- 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中。 -->
    <permission
        android:name="com.ezreal.ezchat.permission.RECEIVE_MSG"
        android:protectionLevel="signature"/>
    <!-- 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.netease.nim.demo 替换为自己的包名 -->
    <uses-permission android:name="com.ezreal.ezchat.permission.RECEIVE_MSG"/>

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SearchUserActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.FriendInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.RequestFriendActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CheckNotifyListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.AccountInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.P2PChatActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".camera.CameraActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".camera.CameraResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SelectLocActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ShowImageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ShowVideoActivity"
            android:configChanges="orientation"/>

        <activity android:name=".activity.ShowLocActivity"/>
        <activity android:name=".activity.ChatSettingActivity"/>
        <activity android:name=".activity.GroupListActivity"/>
        <activity android:name=".activity.ChangePassActivity"/>

        <!--网易云通讯相关-->

        <!--APP key：https://app.netease.im/index#/app/info/3348138-->
        <meta-data
            android:name="com.netease.nim.appKey"
            android:value="96d97abfe3174e936679d19025837374"/>

        <!-- 声明网易云通信后台服务，如需保持后台推送，使用独立进程效果会更好。 -->
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        <!-- 运行后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.service.NimService$Aux"
            android:process=":core"/>

        <!-- 声明网易云通信后台辅助服务 -->
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core"/>

        <!-- 网易云通信SDK的监视系统启动和网络变化的广播接收器，用户开机自启动以及网络变化时候重新登录，
            保持和 NimService 同一进程 -->
        <receiver
            android:name="com.netease.nimlib.service.NimReceiver"
            android:exported="false"
            android:process=":core">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 网易云通信进程间通信 Receiver -->
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        <!-- 网易云通信进程间通信service -->
        <service android:name="com.netease.nimlib.service.ResponseService"/>

        <!-- 安卓保活配置 -->
        <service
            android:name="com.netease.cosine.core.CosineService"
            android:process=":cosine">
        </service>

        <receiver
            android:name="com.netease.cosine.target.CosineReceiver"
            android:exported="true"
            android:process=":cosine">
        </receiver>

        <meta-data
            android:name="com.netease.cosine.target"
            android:value=""/>

        <meta-data
            android:name="com.netease.cosine.target.receiver"
            android:value="com.netease.nimlib.service.NimReceiver"/>

        <!--高德地图相关-->

        <service android:name="com.amap.api.location.APSService"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="bfadce2ec5b02e09b4c6ba04018d2589"/>

    </application>

</manifest>